rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{uid}/{name} {
      allow get: if name == 'icon';
      allow list: if false;
      allow create: if request.auth != null && uid == request.auth.uid && name == 'icon';
      allow update: if request.auth != null && uid == request.auth.uid && name == 'icon';
      allow delete: if request.auth != null && uid == request.auth.uid && name == 'icon';
    }
  }
}
